<script type="text/template" id="email_update">

	<div id="wrapper">
		<div class="stopfoot-i">
			<div class="headbar text-center vcenter">
				<div class="container rel vcenter">
					<div class="tabcell">
						<img class="headlogo" width="100%" src="images/miclarologo.png">
					</div>
				</div>
			</div>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Factura Digital</span>
				</div>
			</div>

			<iframe src="<%= url %>" id="chat-iframe" onLoad="$.mobile.activePage.trigger('iframeload');"  frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:100px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>

		</div>

	</div>

</script>
