<script type="text/template" id="recharge_prepaid">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-24"></span> Recarga de Prepago
						</div>

<!--						<div class="nroacc">-->
<!--							<label class="label-r sidenmbr vcenter">-->
<!--									<span class="tabcell">-->
<!--										N&uacute;mero de Tel&eacute;fono-->
<!--									</span>-->
<!--							</label>-->

<!--							<select class="sel-f sidesel" id="select-account">-->
<!--								<% _.each(accounts, function(value, index) { %>-->
<!--								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> >-->
<!--								<%= value.DefaultSubscriber %>-->
<!--								</option>-->
<!--								<% }); %>-->
<!--							</select>-->
<!--						</div>-->

<!--						<a class="mc-wallet">-->
<!--								<span class="wallet-t vcenter">-->
<!--									<img width="100%" src="images/wllt-arrw.png" class="wllt-arrw">-->

<!--									<span class="tabcell">-->
<!--										<span class="f-black">Mi Claro <span class="f-red">Wallet</span></span>-->
<!--									</span>-->
<!--								</span>-->

<!--							<span class="wallet-amnt vcenter">-->
<!--								<i class="fa fa-angle-right" aria-hidden="true"></i>-->

<!--								<span class="tabcell">-->
<!--									<span class="f-red">&#36;<%= prepaidBalance %></span>-->
<!--								</span>-->
<!--							</span>-->
<!--						</a>-->

					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="autowcont allpads">
						<div class="basicrow f-reg f-black roboto-r">
							<div class="basicrow f-big">
								Recargar
							</div>

							<div class="dts-rcrg m-top-ii text-center">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="basicrow">
											<span class="roboto-b">N&uacute;mero de T&eacute;lefono</span><br/>
											<span class="f-big roboto-b"> <%= selectedSubscriberValue %> </span>
										</div>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="basicrow l-pline-i">
											<span class="roboto-b">Balance en Prepago Disponible</span><br/>
											<span class="f-lsemi roboto-b f-red">&#36;<%= prepaidBalance %></span>
										</div>
									</div>
								</div>
							</div>

							<% if (parseFloat(amountPlan) > 0) { %>
							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow roboto-b f-bmed text-center">
									Monto seg&uacute;n Plan Actual
								</div>

								<div class="basicrow text-center">
									<div class="mnts-rcrg">
										<div class="checkrcrg">
											<input type="radio" name="radioR" id="radioPlan" class="css-radio" value="<%= amountPlan %>"><label for="radioPlan" class="css-label3 radGroup1"></label>
										</div>

										&#36;<%= amountPlan %>
									</div>
								</div>
							</div>
							<% } %>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow roboto-b f-bmed text-center">
									<% if (parseFloat(amountPlan) > 0) { %>
									Otras Recargas Disponibles
									<% } else { %>
									Recargas Disponibles
									<% } %>
								</div>

								<div class="basicrow text-center" id="container_recharge">

<!--									<div class="mnts-rcrg">-->
<!--										<div class="checkrcrg">-->
<!--											<input type="radio" name="radioR" id="radioG2" class="css-radio" value="5.00"><label for="radioG2" class="css-label3 radGroup1"></label>-->
<!--										</div>-->

<!--										&#36;5.00-->
<!--									</div>-->

<!--									<div class="mnts-rcrg">-->
<!--										<div class="checkrcrg">-->
<!--											<input type="radio" name="radioR" id="radioG3" class="css-radio" value="10.00"><label for="radioG3" class="css-label3 radGroup1"></label>-->
<!--										</div>-->

<!--										&#36;10.00-->
<!--									</div>-->

<!--									<div class="mnts-rcrg">-->
<!--										<div class="checkrcrg">-->
<!--											<input type="radio" name="radioR" id="radioG4" class="css-radio" value="20.00"><label for="radioG4" class="css-label3 radGroup1"></label>-->
<!--										</div>-->

<!--										&#36;20.00-->
<!--									</div>-->

<!--									<div class="mnts-rcrg">-->
<!--										<div class="checkrcrg">-->
<!--											<input type="radio" name="radioR" id="radioG5" class="css-radio" value="30.00"><label for="radioG5" class="css-label3 radGroup1"></label>-->
<!--										</div>-->

<!--										&#36;30.00-->
<!--									</div>-->
								</div>

								<div class="basicrow text-center">
									<div class="othr-mnts-rcrg" id="container-other">
										<div class="mnts-othr vcenter">
											<div class="checkrcrg">
												<input type="radio" name="radioR" id="radioOther" class="css-radio" disabled><label for="radioOther" class="css-label3 radGroup1"></label>
											</div>

											<div class="tabcell">
												Otro Monto
											</div>
										</div>

										<input id="input-other" class="mnts-inpr" value="0.00" disabled>
									</div>
								</div>

							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i m-bott-ii">
								<div class="btns red def-i pull-right vcenter rippleR" id="next">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>

								<div class="btns gray def-i pull-left vcenter" id="cancel">
									<span class="tabcell">
										Cancelar
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
