<script type="text/template" id="touch">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top mbott">

                <div class="container">

                    <% if (touch) { %>

                    <div class="basicrow f-big roboto-r text-center">
                        <div class="basicrow">
                            Configuraci&oacute;n Touch ID
                        </div>
                    </div>

                    <div class="basicrow text-center m-top-i">
                        <div class="basicrow">
                            <img style="width: 100px; height: 100px" width="100%" class="mc-icon" src="images/touch-cap.png">
                        </div>
                    </div>

                    <div class="basicrow m-top-i f-med roboto-b text-center">
                        <label>Ahora iniciar sesi&oacute;n es mas facil</label>
                    </div>

                    <div class="basicrow m-top f-mini-i roboto-m text-justify">
                        Utiliza el Touch ID de tu dispositivo para iniciar sesi&oacute;n en Mi Claro App, solo tienes que configurar y registrar tu Huella Digital con unos simples pasos.
                    </div>

                    <div class="basicrow m-top roboto-b text-left">
                        Nota:
                    </div>

                    <div class="basicrow f-mini roboto-m text-left m-top-u-ii">
                        • Las huellas dactilares almacenadas en el dispositivo podr&aacute;n ser utilizadas para acceder a la aplicaci&oacute;n Mi Claro.
                    </div>

                    <div class="basicrow f-mini roboto-m text-left">
                        • S&oacute;lo se puede configurar Touch ID para un ID en l&iacute;nea a la vez.
                    </div>

                    <% } else { %>

                    <div class="basicrow f-big roboto-r text-center">
                        <div class="basicrow">
                            Configuraci&oacute;n Face ID
                        </div>
                    </div>

                    <div class="basicrow text-center m-top-i">
                        <div class="basicrow">
                            <img style="width: 100px; height: 100px" width="100%" class="mc-icon" src="images/face-cap.png">
                        </div>
                    </div>

                    <div class="basicrow m-top-i f-med roboto-b text-center">
                        <label>Ahora iniciar sesi&oacute;n es mas facil</label>
                    </div>

                    <div class="basicrow m-top f-mini-i text-justify">
                        Utiliza el Face ID de tu dispositivo para iniciar sesi&oacute;n en Mi Claro App, solo tienes que configurar y registrar tu rostro con unos simples pasos.
                    </div>

                    <div class="basicrow m-top-i roboto-b text-left">
                        Nota:
                    </div>

                    <div class="basicrow m-top-u-ii f-mini roboto-m text-left">
                        • Los reconocimientos faciales almacenadas en el dispositivo podr&aacute;n ser utilizadas para acceder a la aplicaci&oacute;n Mi Claro.
                    </div>

                    <div class="basicrow f-mini roboto-m text-left">
                        • S&oacute;lo se puede configurar Face ID para un ID en l&iacute;nea a la vez.
                    </div>

                    <% } %>

                    <div class="basicrow m-top-i m-bott-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="row">
                        <div class="container">
                            <div class="basicrow text-center roboto-b f-black">
                                Configurar: <span class="f-red"><%= username %></span>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div id="next" class="btns red rippleR vcenter">
                            <div class="tabcell">
                                Configurar
                            </div>
                        </div>

                        <div id="cancel" class="btns gray vcenter m-top">
                            <div class="tabcell">
                                Cancelar
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</script>
