<script type="text/template" id="update_step_2">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow m-top-i">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									Actualización de Registro
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<% if (isProductTypeG) { %>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								<% if (isTelephony) { %>
									Hemos enviado el código de verificación, vía EMAIL.
								<% } else { %>
									Hemos enviado el código de verificación, vía SMS.
								<% } %>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow rel">
									<% if (isTelephony) { %>
									<img class="q-t-pay tooltip-pin" data-toggle="popover" data-html="true" data-content="PIN a tu correo electrónico." data-placement="bottom" width="100%" src="images/tooltip1.png">
									<% } else { %>
									<img class="q-t-pay tooltip-pin" data-toggle="popover" data-html="true" data-content="PIN a tu celular y correo electrónico." data-placement="bottom" width="100%" src="images/tooltip1.png">
									<% } %>
									<input id="code" type="number" style="-webkit-text-security:disc;" placeholder="Código de confirmación" class="inp-f">
									<div class="basicrow m-top-u f-reg f-black roboto-r">
										&#191;No has recibido el c&oacute;digo de seguridad&#63; <a id="btn-resend" class="linkdefs">Reenviar</a>
									</div>
								</div>
							</div>
							<% } else { %>
							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								Por favor ingrese los últimos 4 dígitos de Seguro Social.
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="ssn" type="number" style="-webkit-text-security:disc;" placeholder="4 &uacute;ltimos de SSN" class="inp-f">
								</div>
							</div>
							<% } %>

							<div class="basicrow m-top-i">
								<div id="btn-validate" class="btns gray vcenter">
									<div class="tabcell">
										Continuar
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>